<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">
    <style>
        .main{
            background-color: yellowgreen;
        }
    </style>
    <title>首頁</title>
</head>
<body>
    <div class="container main">
        <h2>flask_Bootstrap</h2>
        <!--導覽列-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">導覽列</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="#">首頁</a>
                        <a class="nav-link" href="#">特色</a>
                        <a class="nav-link" href="#">說明</a>
                        <a class="nav-link" href="#">產品</a>
                    </div>
                </div>
            </div>
        </nav>
        <!--導覽列-->
        
    </div>
    <script src="{{url_for('static',filename='js/bootstrap.js')}}"></script>
</body>
</html>